<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/core</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListCreatedGamesServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.ListCreatedGamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCreatedGamesServlet</servlet-name>
        <url-pattern>/hosted</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>JoinGameServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.JoinGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinGameServlet</servlet-name>
        <url-pattern>/joingame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ApplyCardServlet</servlet-name>
        <servlet-class>com.green3.evolution.game.servlet.ApplyCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyCardServlet</servlet-name>
        <url-pattern>/applycard</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
